=f.inputs do
  =f.input :name, :label => "书名"
  =f.input :image, :label => "图片"
  =f.input :description, :as => :text, :label => "简述"
  =f.input :price, :label => "价格"
  =f.input :count, :label => "数量"
  =f.input :publish_at, :label => "出版日期", :as => :select, :collection => 1990..Time.now.year
  =f.input :tags, :as => :check_boxes, :collection => @tags
