- @books.each do |b|
  .book_line
    .pull-left
      =link_to image_tag(b.image.url(:thumb)), b
    .book
      .pull-right
        -if current_user && !current_user.books.include?(b)
          =link_to '喜欢', like_book_url(b), :id => b.id, :class => 'like'
      %div
        %div
          =link_to b.name, b
        .description
          =b.description.truncate(40, :omission => '...')
        %div
          -b.tags.each do |tag|
            %span.label=link_to tag.name, show_list_by_tag_book_url(tag.id)
=paginate @books
