.box
  -@users.each do |user|
    .admin-line.admin-attribute
      .pull-left
        =user.email
        =user.name
      .pull-right
        =link_to '删除', [:admin, user], :class => 'btn btn-danger', :confirm => '确定删除?', :method => :delete
.search-box
  %h2="搜索"
  =form_tag search_admin_users_url, :method => :get do
    =label_tag :email, '邮箱'
    =text_field_tag :email
    =label_tag :name, '名字'
    =text_field_tag :name
    =submit_tag '查询'
