.box
  %h2.center='新上架'
  -@new_books.each do |b|
    .book_line
      .pull-left
        =link_to image_tag(b.image.url(:thumb)), b
      .book
        .pull-right
          -if current_user && !current_user.books.include?(b)
            =link_to '喜欢', like_book_url(b), :remote => true
        %div
          %div
            =link_to b.name, b
          %div
            =b.description.truncate(50, :omission => '...')
          %div
            ="#{b.count} 本"
          %div
            -b.tags.each do |tag|
              %span.label=link_to tag.name, show_list_by_tag_book_url(tag.id)
  %h2.center='推荐'
  -@recommend_books.each do |b|
    .book_line
      .pull-left
        =link_to image_tag(b.image.url(:thumb)), b
      .book
        .pull-right
          -if current_user && !current_user.books.include?(b)
            =link_to '喜欢', like_book_url(b), :remote => true
        %div
          %div
            =link_to b.name, b
          %div
            =b.description.truncate(50, :omission => '...')
          %div
            ="#{b.count} 本"
          %div
            -b.tags.each do |tag|
              %span.label=link_to tag.name, show_list_by_tag_book_url(tag.id)
