.navbar.navbar-fixed-top
  .navbar-inner
    .container
      =link_to 'Books Manage', root_url,  class: 'brand'
      .nav-collapse
        %ul.nav
          %li=link_to '主页', root_url
          %li=link_to '图书', books_url
        %ul.nav.pull-right
          -if user_signed_in?
            %li.dropdown
              %a{href: 'javascript:void(0)', class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}<
            %li=link_to "退出", new_user_session_url
          -else
            %li=link_to "登录", new_user_session_url
            %li=link_to "注册", new_user_registration_url
